.screenLock { position: fixed; width: 100%; background: rgba(0, 0, 0, 0.7) none repeat scroll 0% 0%; top: 0px; left: 0px; z-index: 99999; display: none; }
.msg { position: absolute; width: 600px; height: 220px; top: 150px; left: 50%; margin-left: -300px; background: rgb(128, 128, 128) none repeat scroll 0% 0%; border: 1px solid rgb(238, 238, 238); }
.msg > h1 { color: rgb(255, 255, 255); font-size: 26px; line-height: 32px; margin-bottom: 20px; margin-top: 60px; text-align: center; }
/* ::::: http://zdorov-24.ru/eroforce/medblog1r/index.css ::::: */

* { margin: 0px; padding: 0px; }
html, body { height: 100%; }
body { font-size: 18px; font-family: Helvetica,Arial,sans-serif; color: black; background: rgb(247, 247, 247) none repeat scroll 0% 0%; }
textarea, input { outline: medium none; }
a { color: rgb(22, 151, 206); }
a:hover { color: rgb(176, 73, 59); }
a img { border: medium none; }
a:focus { outline: medium none; }
h2 { font-size: 22px; font-weight: normal; }
.popup__wrap{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(170,170,170,.5);z-index: 3542636236;
    display: none;
}
#simplemodal-container{
    margin: 70px auto;
    position: relative;
}
.search {
  width: 170px;
  padding: 4px 5px;
  text-align: left;
  border: 1px solid #000
}
.search-link {
  display: block;
  cursor: text;
  text-decoration: none;
  color: #999999;
  font-size: 13px;
  float: right;
}
.search-link:hover {
  color: #b9b9b9;
}
.alex_zevsa_wcih4ECQW { position: relative; margin: 0px auto; width: 960px; padding: 0px 20px; }
.clearfix::before, .clearfix::after { content: ""; display: table; }
.clearfix::after { clear: both; }
.footer .contacts, .footer .site h4, .katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe, .main-page .main-slider .share h4, .main-page .calendar .item .dvksub_rYPIQ4ET span, .sport-tv .left-blk, .main-page .map h4, .main-page .annonce-blk .dvksub_rYPIQ4ET span, .katyakoncakova_FtFDdVex .Natali0610_RVdHBJiwC { font-family: PFDinTextCondProMedium,Helvetica,Arial !important; }
.RA4CSZ_e3qI7YOg, .def-page .org-list h3, .def-page .org-list .type, .faq-page .news-list .sec-year, .media-page .news-list .sec-year, .sec-page .doc-list h4, .photo-page .photo-also .dvksub_rYPIQ4ET, .photo-page .photo-list .dvksub_rYPIQ4ET, .video-page .video-also .dvksub_rYPIQ4ET, .video-page .video-list .dvksub_rYPIQ4ET, .renul_seDwyoGn57 .dvksub_rYPIQ4ET, .zhanna_86_o5IKudBv h2, .root_f21XaquIT .news-list .dvksub_rYPIQ4ET, .root_f21XaquIT .top-blk .rss, .footer .address, .footer .copyrights, .main-page .map h2, .main-page .news h3, .main-page .news-blk .dvksub_rYPIQ4ET, .main-page .annonce-blk .dvksub_rYPIQ4ET, .main-page .main-slider h3, .main-page .calendar .day, .main-page .calendar .item .dvksub_rYPIQ4ET, .main-page .calendar .month-name, .main-page .ministr-blk .dvksub_rYPIQ4ET, .main-page .calendar h3, .katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe .vica_ehEmluAT a, .main-page .news-blk .links, .main-page .map .reg-news, .main-page .map h3, .main-page .annonce-blk .links, .katyakoncakova_FtFDdVex .region-btn { font-family: PFDinTextCondProRegular,Helvetica,Arial !important; }
.katyakoncakova_FtFDdVex { position: relative; z-index: 15; }
.katyakoncakova_FtFDdVex .Natali0610_RVdHBJiwC { margin-top: 40px; float: left; width: 360px; text-decoration: none; color: black; display: block; position: relative; }
.katyakoncakova_FtFDdVex .Natali0610_RVdHBJiwC img { width: 400px; height: 93px; float: left; }
.katyakoncakova_FtFDdVex .vasilusya_rfYcdWbD { float: right; font-size: 12px; margin-top: 5px; }
.katyakoncakova_FtFDdVex .mikstroy_hlTMvYzPJs { width: 330px; float: right; margin-top: 60px; }
.katyakoncakova_FtFDdVex .mikstroy_hlTMvYzPJs .tata_soboleva_XjcqhmYZ7 { margin-top: 25px; position: relative; text-align: right; }
.katyakoncakova_FtFDdVex .tata_soboleva_XjcqhmYZ7 .tjn-02_ANHUDPcR { width: 170px; padding: 4px 5px; }
.katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe { margin-top: 10px; background: rgb(51, 53, 65) none repeat scroll 0% 0%; height: 50px; }
.katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe .main-menu-blk { list-style: outside none none; }
.katyakoncakova_FtFDdVex .main-menu-blk > li { display: inline-block; float: left; margin-right: 23px; position: relative; padding: 17px 10px; }
.katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe a { text-transform: uppercase; font-size: 14px; color: white; text-decoration: none; }
.katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe .submenu-btn { color: rgb(207, 79, 58); font-style: normal; margin-left: 4px; }
.katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe .vica_ehEmluAT { position: absolute; top: 50px; left: -40px; width: 400px; padding: 40px 40px 40px 0px; background: white none repeat scroll 0% 0%; z-index: 15; display: none; }
.katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe .germantrava_IeZ6X4Esi9 .vica_ehEmluAT { left: 0px; }
.katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe .vica_ehEmluAT li { float: left; margin-left: 40px; display: block; border-bottom: 1px dashed rgb(189, 189, 191); z-index: 10; position: relative; }
.katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe li.wwwter_ma_fAfmL15qxg { border-top: 1px dashed rgb(189, 189, 191); }
.katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe .vica_ehEmluAT a { font-size: 14px; color: rgb(22, 151, 205); text-transform: none; width: 160px; padding: 9px 0px 7px; display: block; }
.katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe .vica_ehEmluAT a:hover { color: rgb(176, 73, 57); }
.katyakoncakova_FtFDdVex .vladimir210487_POv1ApGe { position: absolute; width: 440px; left: 0px; top: -1px; bottom: -1px; box-shadow: 0px 1px 5px black; opacity: 0.2; z-index: 1; }
.alstep54_sglCGFT6q { font-size: 12px; }
.renul_seDwyoGn57 h2 { font-weight: bold; font-size: 36px; margin-top: 15px; }
.renul_seDwyoGn57 .dvksub_rYPIQ4ET { color: rgb(108, 110, 126); font-size: 14px; text-transform: uppercase; margin-top: 5px; }
.renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 { margin-top: 25px; color: rgb(108, 110, 122); line-height: 1.5; padding-bottom: 15px; margin-bottom: 20px; border-bottom: 1px dashed rgb(185, 185, 185); font-size: 18px; }
.renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 p { text-indent: 20px; color: black; text-align: justify; margin: 15px; line-height: 31px; }
p{text-align: justify;}
.renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 .maki555_e4AaJE9jYG { margin-top: 5px; font-size: 15px; line-height: 20px; padding: 10px; background: rgb(204, 204, 204) none repeat scroll 0% 0%; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75); }
.renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 .AGB_yQobO46Dw { margin-top: 10px; font-size: 13px; color: rgb(161, 161, 162); }
.renul_seDwyoGn57 .gelat_Bb6MhOHv { float: left; padding: 4px 30px 0px 4px; font-size: 12px; font-style: italic; color: rgb(161, 161, 168); }
.renul_seDwyoGn57 .gelat_Bb6MhOHv .ewa-b_p5sjGkxr1 { margin-top: 5px; }
.zhanna_86_o5IKudBv { background: white none repeat scroll 0% 0%; padding: 35px 40px 40px; margin: 0px 0px 50px; border-radius: 4px; }
.zhanna_86_o5IKudBv h2 { font-size: 22px; text-transform: uppercase; line-height: 1; }
.altakansk_YrlOq5h6N { font-family: Arial; color: rgb(108, 110, 131); margin: 0px 5px; }
.dmavrodi_yjLIBb2Q { position: relative; z-index: 10; }
.RA4CSZ_e3qI7YOg { position: absolute; display: none; z-index: 150; background: rgb(53, 55, 66) none repeat scroll 0% 0%; border-radius: 4px; padding: 4px 10px 2px; color: white; font-size: 14px; text-transform: uppercase; }
.web-s { font-family: WebSymbols; -moz-user-select: none; }
.sazonov66_g9ysODlqt { margin-bottom: -340px; min-height: 100%; position: relative; background: rgb(247, 247, 247) none no-repeat scroll center top; }
.vk-container { font-family: tahoma,arial,verdana,sans-serif,Lucida Sans; font-size: 15px; color: black; text-decoration: none; }
.vk-header { background: rgb(218, 226, 232) none repeat scroll 0% 0%; padding: 4px 4px 4px 6px; margin-bottom: 10px; }
.vk-logo { background: transparent none no-repeat scroll 0% 0%; width: 16px; height: 16px; float: right; margin-top: -1px; }
.vk-header-text { padding: 2px 3px 1px; line-height: 100%; color: rgb(69, 104, 142); font-weight: bold; }
.vk-avatar img { float: left; margin-right: 10px; }
.vk-comment, .vk-comment-load { margin-bottom: 15px; position: relative; border-bottom: 1px solid rgb(218, 225, 232); padding-bottom: 15px; }
.vk-comment:last-child { border-bottom: 0px none; }
.vk-comment-name { color: rgb(43, 88, 122); font-weight: bold; font-size: 12px; }
.vk-comment-text { margin-left: 60px; }
.vk-comment-date { margin-left: 60px; color: rgb(153, 153, 153); }
.screenLock { position: fixed; width: 100%; background: rgba(0, 0, 0, 0.7) none repeat scroll 0% 0%; top: 0px; left: 0px; z-index: 99999; display: none; }
.msg { position: absolute; width: 600px; height: 220px; top: 150px; left: 50%; margin-left: -300px; background: rgb(20, 143, 185) none repeat scroll 0% 0%; border: 1px solid rgb(238, 238, 238); }
.msg > h1 { color: rgb(255, 255, 255); text-align: center; font-size: 24px; margin-bottom: 30px; margin-top: 30px; }
.topblock p {
  text-align: left!important;
}
@media screen and (max-width: 1020px) {
	.alex_zevsa_wcih4ECQW { width: auto; }
	.main-menu-blk { width: 100%; margin: 0px auto; }
	.katyakoncakova_FtFDdVex .main-menu-blk > li { width: 16.666%; float: left; margin: 0px; display: block; padding: 0px; text-align: center; height: 100%; }
	.katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe { height: auto; }
	.katyakoncakova_FtFDdVex .main-menu-blk > li a { line-height: 50px; }
	.katyakoncakova_FtFDdVex .mikstroy_hlTMvYzPJs { width: 180px; }
	.alex_zevsa_wcih4ECQW, .main-menu-blk { height: 100%; }
	.web-s { display: none; }
	body img { max-width: 100%; }
	center > img { max-width: 100%; }
  .main-menu-blk {width: 100%; max-width: 700px;}
  .katyakoncakova_FtFDdVex .main-menu-blk > li{width: 30%}
}
@media screen and (max-width: 720px) {
	.katyakoncakova_FtFDdVex .main-menu-blk > li { width: 33.333%; }
	.katyakoncakova_FtFDdVex .mikstroy_hlTMvYzPJs { display: none; }
	.renul_seDwyoGn57 .gelat_Bb6MhOHv { margin: 0px auto; padding-right: 0px; float: none; padding-left: 0}
	.renul_seDwyoGn57 .gelat_Bb6MhOHv > img { display: block; margin: 0px auto; }
  .renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 p, p{text-align: left}
  .topblock p{text-align: center!important}
}
@media screen and (max-width: 600px) {
  .katyakoncakova_FtFDdVex .main-menu-blk > li{
    width: 50%
  }
}
@media screen and (max-width: 420px) {
	.zhanna_86_o5IKudBv { padding-left: 10px; padding-right: 10px; }
	.alstep54_sglCGFT6q { display: none; }
	.katyakoncakova_FtFDdVex .main-menu-blk > li { width: 50%; }
	.udalykhnn_av3FDRJhB img, body img { max-width: 100%; }
	.katyakoncakova_FtFDdVex .Natali0610_RVdHBJiwC { width: 320px; }
	.alex_zevsa_wcih4ECQW { padding: 0px; }
  .katyakoncakova_FtFDdVex .main-menu-blk > li{
    width: 100%
  }
}
.vk-avatar img { width: 48px; }
.ymaps-b-form-button__input::-moz-focus-inner { padding: 0px; border: 0px none; }
@media not all, not all {
}
@media not all {
}
@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 400;
	src: local("PT Sans"), local("PTSans-Regular"), url('../fonts/fhnmdcnjccouyyu4zasalvkpgs1zzpmvnhx-7fpouac.woff2') format("woff2");
	unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 400;
	src: local("PT Sans"), local("PTSans-Regular"), url('../fonts/bjvwev7_auvaq__ou8qih1kpgs1zzpmvnhx-7fpouac.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 400;
	src: local("PT Sans"), local("PTSans-Regular"), url('../fonts/oysrohftu1etz74hcf8v-vkpgs1zzpmvnhx-7fpouac.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 400;
	src: local("PT Sans"), local("PTSans-Regular"), url('../fonts/cwlc_g68bgydsgdpjvpktgluueptyoustqem5amljo4.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
.ouimain-text-img::after { content: ""; display: block; clear: both; }
.vote-block-content-container::after { content: ""; display: block; clear: both; }
.button_page { background-color: rgb(242, 121, 9); display: block; margin: 0px auto; font: bold 19px Arial,Helvetica,sans-serif; min-width: 270px; max-width: 300px; text-decoration: none; color: rgb(255, 255, 255); position: relative; padding: 11px 20px 11px 11px; border-radius: 50px; box-shadow: 0px 1px 0px rgb(158, 141, 132) inset, 0px 5px 0px 0px rgb(178, 90, 8), 0px 10px 5px rgb(153, 153, 153); }
.button_page:hover { opacity: 0.7; font: bold 19px Arial,Helvetica,sans-serif; color: rgb(229, 255, 255); }
#popup-coment { display: none; position: fixed; bottom: 10px; left: 10px; width: auto; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 1px solid rgb(218, 226, 232); padding: 10px; z-index: 100; max-width: 375px; }
#popup-coment .vk-comment-load { margin-bottom: 0px; border-bottom: 0px none; padding-bottom: 0px; position: relative; }
#popup-coment .vk-comment-text { margin-bottom: 20px; margin-top: 5px; }
#popup-coment .vk-comment-date { padding-bottom: 5px; }
.vk-comment-read { display: block; width: auto; background: rgb(69, 104, 142) none repeat scroll 0% 0%; color: rgb(255, 255, 255); font-size: 15px; right: 0px; bottom: 0px; position: absolute; text-align: center; padding: 5px 15px; cursor: pointer; opacity: 1; transition: all 0.6s ease 0s; text-decoration: none; font-style: normal; }
.vk-comment-read:hover { opacity: 0.7; color: rgb(255, 255, 255); background: rgb(69, 104, 142) none repeat scroll 0% 0%; }
.vk-comment-close { display: block; position: absolute; top: -8px; right: -8px; width: 7%; cursor: pointer; }
.vk-comment-close img { display: block; width: 100%; }
@media screen and (min-width: 320px) and (max-width: 768px) {
	#popup-coment { bottom: 10px; left: 10px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 1px solid rgb(218, 226, 232); padding: 10px; z-index: 100; max-width: 315px; width: 86%; }
	#popup-coment .vk-comment-text { position: relative; margin-bottom: 5px; }
	#popup-coment .vk-comment-date { padding-bottom: 40px; }
	.vk-comment-read { right: 20px; }
}
@media screen and (min-width: 320px) and (max-width: 468px) {
	#popup-coment .vk-comment-text { position: relative; overflow: hidden; height: 95px; margin-bottom: 5px; }
	#popup-coment .vk-comment-text::after { content: "..."; display: block; position: absolute; right: 5px; bottom: 6px; font-size: 15px; }
	#popup-coment .vk-comment-date { padding-bottom: 40px; }
	.vk-comment-read { right: 20px; }
}
.vk-comment-text { font-weight: normal; }
.vk-comment-date { font-weight: normal; }
.iframe { width: 100%; height: 320px; }
iframe { width: 100%; height: 100%; border: 0px none; }


.feedback-form {
    display: block;
    max-width: 400px;
    box-sizing: border-box;
    padding: 15px 20px;
    margin: 10px auto;
    background-color: #dedede;
    border-radius: 8px;
    min-height: 160px;
    margin-top: 30px;
}

.feedback-label {
    text-align: center;
    font-style: normal;
    display: block;
}


.feedback-fio, .feedback-phone, .feedback-country, select{
    width: 100% !important;
    box-sizing: border-box;
    display: block;
    outline: none;
    line-height: 40px;
    color: black;
    font-size: 16px;
    border: none;
    border-radius: 2px;
    border: 1px solid #fff;
    height: 40px;
    padding-left: 10px
}
select {
  padding-top: 10px;
  padding-bottom: 10px;
}
.feedback-country{
    padding-top: 10px;
    padding-bottom: 10px;
}

.feedback-form .button_page {
	border: 0;
	outline: none;
	cursor: pointer;
}
.actsss {
	display: none !important;
}
.eeee {
	background-color: rgba(170,170,170,.5);
	display: none;
	width: 100%;
	height: 100%;
	z-index: 333;
	position: fixed;
  top: 0;
  left: 0;
}

.kmacb-form2 .modal-block {
	left: 50%;
	margin-left: -250px;
	position: fixed;
	top: 10%;
	z-index: 8105;
	width: 500px;
	height: 410px;
	border: 0;
	box-shadow: none;
	font-family: 'Open sans', sans-serif;
	color: #222;
  cursor: pointer;
}
.oui {
	width: 500px;
	height: 410px;
	/*background: #7ca0cc;*/
	background: #fff;
	position: relative;
	border: 1px solid #000;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box
}
p.ouimainp {
	font-size: 30px;
	font-family: 'Open sans', sans-serif;
	font-weight: bold;
	padding-top: 23px;
	display: block;
	color: #fff;
	text-align: center;
}

.ouimain-text-img {
	display: block;
	width: 90%;
	padding: 0 5%;
	margin-top: 27px;
}

.ouimain-img {
	float: left;
	display: block;
	width: 30%;
	margin: 0 auto;
}

.ouimain-img img {
	display: block;
	width: 100%;
	margin: 0 auto;
}

.ouimain-text {
	display: block;
	width: 65%;
	float: right;
	margin-left: 5%;
	margin-top: 15px;
}

.ouimain-text p {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.5;
	text-align: left;
	color: #fff;
	font-size: 22px;
	padding-bottom: 5px;
}

.ouimain-text-img:after {
	content: '';
	display: block;
	clear: both;
}

.kmacb-form form {
	margin: 30px 0;
	text-align: center;
	width: 100%;
	height: auto;
	background: 0;
	position: static;
	padding: 0;
	border: 0;
}

.kmacb-form2 form * {
	box-sizing: border-box;
}

.close {
  width: 25px;
  height: 29px;
  display: inline;
  z-index: 3200;
  position: absolute;
  top: -15px;
  right: -18px;
  cursor: pointer;
}
.ouimain a {display: block}
